$light-theme: (
  color-bg2: -webkit-linear-gradient(rgba(219, 15, 234, 0.5), rgb(20, 197, 241)),
  color-bg3: #333333,
  color-bg4: #444444,
  color-bg5: #666666,
  color-bg6: #999999,
  color-bg7: #bbbbbb,
  color-bg8: #222222,
  color-bg9: #ffffff,
  bg1: #ffffff,
  bg2: #f9f9f9,
  bg3: linear-gradient(135deg, #f8faff 0%, #e3edf7 100%),
  bg4: #eaeaea,
  bg5: #222222,
  border: #dddddd,
  gradient-bg: linear-gradient(to bottom, #fafafa, #f0f0f0),
  gradient-bg1: linear-gradient(135deg, #4a69bd, #2c3e50),
  gradient-bg2: linear-gradient(135deg, #ff9966, #ff4d4d),
  gradient-bg3: linear-gradient(135deg, #80ff80, #40c440),
);
$dark-theme: (
  color-bg2: -webkit-linear-gradient(rgba(219, 15, 234, 0.5), rgb(20, 197, 241)),
  color-bg3: #eeeeee,
  color-bg4: #dddddd,
  color-bg5: #cccccc,
  color-bg6: #999999,
  color-bg7: #666666,
  color-bg8: #ffffff,
  color-bg9: #222222,
  bg1: #1e2022,
  bg2: #232527,
  bg3: #1f2124,
  bg4: #3b3d44,
  bg5: #ffffff,
  border: #232527,
  gradient-bg: linear-gradient(to bottom, #2a2d34, #1f2124),
  gradient-bg1: linear-gradient(135deg, #34495e, #2c3e50),
  gradient-bg2: linear-gradient(135deg, #273c75, #1e272e),
  gradient-bg3: linear-gradient(135deg, #34495e, #2c3e50),
);
@mixin theme-vars($theme) {
  @each $name, $value in $theme {
    --#{$name}: #{$value};
  }
}
// 应用默认亮色主题
:root {
  @include theme-vars($light-theme);
}

// 应用暗色主题
html[data-theme="dark"] {
  @include theme-vars($dark-theme);
}
